@font-face {
    font-family: "Inconsolata";
    src: url(/fonts/Inconsolata.ttf) format("truetype");
}

html {
    height: 100%;
}
body {
    background-image: url(/img/jobseeker.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Inconsolata", monospace;
}